<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="ignition::gazebo::systems::DiffDrive" filename="ignition-gazebo-diff-drive-system">
            
            <!-- Wheel Information -->
            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>
            


            <topic>cmd_vel</topic>
            <!-- <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id> -->
            <wheel_separation>0.45</wheel_separation>
            <wheel_radius>0.1</wheel_radius>
            <odom_publish_frequency>100</odom_publish_frequency>
            <max_linear_acceleration>1</max_linear_acceleration>
            <min_linear_acceleration>-1</min_linear_acceleration>
            <max_angular_acceleration>2</max_angular_acceleration>
            <min_angular_acceleration>-2</min_angular_acceleration>
            <max_linear_velocity>0.5</max_linear_velocity>
            <min_linear_velocity>-0.5</min_linear_velocity>
            <max_angular_velocity>1</max_angular_velocity>
            <min_angular_velocity>-1</min_angular_velocity>

        </plugin>

        <plugin filename="ignition-gazebo-odometry-publisher-system"
                name="ignition::gazebo::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <odom_covariance_topic>odom</odom_covariance_topic>
            <tf_topic>tf</tf_topic>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_publish_frequency>100</odom_publish_frequency>
        </plugin>

        <!-- <plugin filename="ignition-gazebo-velocity-control-system"
                name="ignition::gazebo::systems::VelocityControl">
            <topic>cmd_vel</topic>
        </plugin> -->

    </gazebo>


</robot>