<?xml version="1.0"?>
<robot name="test_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="test_robot_core2.xacro" />
    <!-- <xacro:include filename="ros2_control.xacro" /> -->
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="lidar.xacro" />
</robot>